.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*,
*::before,
*::after{
    box-sizing: border-box;
    margin-bottom: 0;
}

:root{
    --clr-dark-teal: #2AB3B1;
    --clr-light-teal: #4ABFBD;
    --clr-bg: #e5eff5;
    --clr-green: #C0DF33;
    --clr-gray: #9AA7BE;

    --fs-body: 1rem;

    --ff-body: "Karla", sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}

body{
    margin: 0;
    background-color: var(--clr-bg);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 64px 22px;
}

.card{
    display: grid;
    overflow: hidden;
    border-radius: 6px;
    width: 100%;
    max-width: 40rem;
    box-shadow: 0 5px 5px 0px hsla(0, 0%, 0%, 0.1);
}

.intro{
    background-color: white;
    padding: 40px;
}

.intro-heading{
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    color: var(--clr-dark-teal);
    margin: 0;
}

.intro-subheading{
    font-size: 1.125rem;
    font-weight: var(--fw-bold);
    color: var(--clr-green);
    margin-top: 24px;
}

.intro-description{
    font-weight: var(--fw-regular);
    color: var(--clr-gray);
    line-height: 165%;
    margin-top: 8px
}

.subscription{
    background-color: var(--clr-dark-teal);
    padding: 20px 40px;
}

.subscription-heading{
    font-size: 1.125rem;
    font-weight: var(--fw-bold);
    color: white;
}

.price{
    color: hsla(0, 0%, 100%, 0.5);
    font-weight: var(--fw-regular);
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-num{
    color: white;
    font-weight: var(--fw-bold);
    font-size: 2rem;
}

.subscription-description{
    color: hsla(0, 0%, 100%, 0.8);
    font-weight: var(--fw-regular);
    margin-top: 0;
    line-height: 165%;
}

.sign-up-btn{
    display: inline-flex;
    margin-top: 32px;
    text-decoration: none;
    background-color: var(--clr-green);
    color: white;
    width: 15rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    box-shadow: 0 5px 5px 5px hsla(0, 0%, 0%, 0.1);
}

.sign-up-btn:hover, .sign-up-btn:focus{
    transform: translateY(-3px);
    background-color: hsla(71, 73%, 54%, 0.9);
}

.sign-up-btn:focus-visible{
    transform: translateY(-3px);
    background-color: hsla(71, 73%, 54%, 0.9);
    outline: 3px solid white;
    outline-offset: 4px;   
}

.why-us{
    background-color: var(--clr-light-teal);
    padding: 20px 40px;
}

.why-us-heading{
    color: white;
    font-size: 1.125rem;
    font-weight: var(--fw-bold);
}

.pros-list{
    list-style: none;
    padding: 0;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 150%;
}

@media (min-width: 768px){
    .card{
        grid-template-columns: repeat(2, 1fr);
    }
    .intro{
        grid-column: 1/-1;
    }
}